
.burger{
  position: relative;
  background: inherit;
  padding : var(--elememt-padding);
  cursor: pointer;
  width : inherit;
  height: auto;
  transition: var(--transition);
  svg{
    transition: inherit;
    stroke : var(--major-color);
  }
  &:focus,
  &:hover{
    svg{
      stroke :var(--decor-color);
      fill : var(--decor-color)
    }
  }
}