.genreLink{
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  border : 1px solid var(--major-color);
  transition: var(--transition);
  background: var(--elememt-bg-color);
  padding : var(--elememt-padding);
  margin-bottom: var(--element-margin);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 25px;

  &:focus,
  &:hover{
    color : var(--decor-color);
    transform: scale(1.05,1);

  }
}
.gameLink{
  color :red;
}

.homeLink{
  position: relative;
  cursor: pointer;
  width : inherit;
  height: auto;
  transition: var(--transition);
  svg{
    position: relative;
    transition: inherit;
    fill : var(--major-color);
    width : 30px;
    height: 30px;
  }
  &:focus,
  &:hover{
    svg{
      stroke :var(--decor-color);
      fill : var(--decor-color)
    }
  }
}
.active{
  border : 1px solid var(--decor-color);
  transform: scale(1.05,1);
}