@import "mixin";

:root {
  //sizing
  @include header-container-styles;


  //default
  --max-width: 1600px;
  --centred-page : 0 auto;
  --main-font-size : 20px;
  //container
  --container-desctop-padding : 20px;
  --container-tablet-padding : 10px;
  --container-mobile-padding : 5px;
  --elememt-padding : 5px 10px;
  //layout
  --header-height : 50px;
  --main-height : calc(100vh - var(--header-height));
  //backgrounds
  --header-background : #1b1a18;
  --main-background : rgba(32, 11, 10, 0.9);
  //colors
  --major-color : #84807d;
  --decor-color : rgba(119, 98, 93, 0.5);
  --elememt-bg-colo0r : #231b18;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

html,
body {
  color : var(--major-color);
  max-width: 100vw;
  min-height: auto;
  overflow-x: hidden;
  font-size: var(--main-font-size);
}
body{
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}


