.home,.search{
  width : 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home{
  overflow-y: auto;
  scrollbar-width: thin;

  height: calc( var(--main-height) - var(--header-height));
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb{
    background: var(--major-color);
    width : 20px;
  }
}

