@import "@/styles/mixin";


.header, .main{
  position: relative;
  @include main-container-styles;
}

.header{
  min-height: var(--header-height);
  padding : var(--container-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--decor-color);
  .homeLink{
  position: relative;
  }
  .form{
    max-width: 300px;
  }
}

.main{
  min-height: var(--main-height);
  padding-top: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


